@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: "Roboto", Helvetica, sans-serif;
}

.header {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #d1d5db;
    border-radius: 4px;
    background-color: white;
}

input[type="checkbox"]:checked + label::before {
    background-color: #4ade80;
    border: none;
}

input[type="checkbox"]:checked + label::after {
    content: "✔";
    position: absolute;
    left: 4px;
    top: 1px;
    color: white;
}